body{
  background: url(./images/adventure.jpg);
  background-repeat:no-repeat;
}

#whitebackground {
  background: #6D7FAA;
  padding: 25px;
  border-radius: 25px;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  
}

.navbar-brand {
  background: #6D7FAA;
  color:#B9E589;
  border-radius: 25px;
  width: 400px;
  height: 100px;
 
  
  font-family: 'Architects Daughter', cursive;
  font-size: 50px;
  font-weight: 100;
  line-height: 90px;
  text-align: center;
  text-decoration: none;
  }

/* .navbar-brand span{
color:#a8f04a;

} */
#white{
  color:#efeee7;
}


.collapse.collapse.navbar-collapse{ 
  font-size: 18px;
  margin-top: 30px;
  font-family: 'Architects Daughter', cursive;
}

h1, .panel-title {
  color: white;
  font-family: 'Architects Daughter', cursive;
  font-weight: 300;
  padding-bottom: 20px;
  line-height: 49px;
  border-bottom: 3px solid #6D7FAA;
  
} 

.panel-title {
  font-size: 27px;
  background: #6D7FAA;

  
}

.col-md-4 {
  text-align: center;
  }
#twitter1{
  width: 70px;
}
a{
  color: rgb(236, 41, 41);

}

footer {
  padding: 30px 0;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #666;
  border-top: 8px solid #6D7FAa;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
}


h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}


h2,
h3 {
  font-family: 'Architects Daughter', cursive;
  font-weight: 700;
  color: #0A1P3A;
}

h2,
h3 {
  font-size: 22px;
}

.h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #6D7FAA;

  border-bottom: 0;
}


/* portfolio page */

#work {
  position: relative;
  float: left;
  width: 300px;
  margin: 20px 25px;
  overflow: auto;
}

#work:nth-child(even) {
  margin-right: 40px;
}

#work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

#work h3 {
  position: absolute;
  bottom: 0px;
  width: 90%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #6D7FAA;

  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}
